body 
{
font-family: 'Gloria Hallelujah', cursive;
background-color: #bfb1b1;
}

#comments
{
font-family: 'Arial', cursive;
font-weight: bold;
}


#button
{
margin-right: 650px;
}

#messagebox
{
margin-left: 350px;    
}

#message
{
border-radius: 3px;  
}

header
{
margin-left: 300px;
height: 92px;
width: 692px;
background-image: url(LabbyMezzage.jpg);
background-repeat: no-repeat;
margin-bottom: 30px;
}

main
{
    width: auto;
    height: auto;
}

main p
{
    margin-left: 40px;
}

#container
{
height: 460px;
}

.message
{
max-width: 52.5%;
margin: auto auto 10px;
background-color: white;
padding: 10px;
border-radius: 10px;
border: 1px solid black;
overflow: hidden;
}

.buttons
{
float:right;
width:110px;
}

.buttons p
{
font-family:Calibri, 'Verdana', 'Arial', 'Times';
margin-left: 52px;
}

.value
{
float:left;
font-family:Calibri, 'Verdana', 'Arial', 'Times';
font-size:15px;
max-width:500px;
word-wrap:break-word;
}


.time
{
float:right;
font-family:Calibri, 'Verdana', 'Arial', 'Times';
font-size:12px;
width:50px;
}


.pictures 
{
float:right;
}


.pictures :hover
{
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
}